*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* It is for accessibility*/
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba($color-primary-dark, 0.8);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  padding: 3rem;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline-block;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
