section {
   padding: 25rem 0;
}
.section-about {
   background-color: $color-gray-light-1;
   margin-top: -13rem;
}
.section-feature {
   background-image: linear-gradient(
         90deg,
         rgba($color-primary-light, 0.8),
         rgba($color-primary-dark, 0.8)
      ),
      url(../img/nat-4.jpg);

   background-size: cover;
   background-position: top;

   transform: skewY(-7deg);

   margin-top: -10rem;

   & > * {
      transform: skewY(7deg);
   }
}
.section-tour {
   background-color: $color-gray-light-1;
   margin-top: -8rem;
}
/*

- Font sizes (px)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
